* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    width: 65px;
}
#header {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0px 80px;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06); */
    /* position: sticky; */
    top: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(246,246,254,255);
}
#header h1{
    margin-left: 60vh;
    font-size: 30px;
}

#navbar {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.container{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgb(246,246,254,255);
}
.wrapper{
    width: 400px;
    height: 288px;
    padding: 30px;
    background-color: #acb6e5;
    background-image: linear-gradient(45deg,#acb6e5,#86fde8);
    border-radius: 9px;
    transition: height 0.2s ease;
    margin-left: 10vh;
    border: 3px solid black;
  }

.row-1{
    margin-top: 20vh;
}  

.row-2 img{
    width: 135vh;
    height: 80vh;
}

.btn{
    background-color: rgb(130, 137,232,255);
    color: white;
    border: 0;
    padding: 10px 25px 10px 25px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    border-radius: 20px;
    margin-top: 20px;
}
.label-txt{
    font-size: 20px;
    font-weight: 650;
}